[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    */venv/*,
    */env/*,
    .venv,
    build,
    dist
# E203: whitespace before ':'
# E266: too many leading '#' for block comment
# W503: line break before binary operator
ignore = 
    E203,
    E266,
    W503
per-file-ignores =
    __init__.py: F401

[pycodestyle]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    */venv/*

[isort]
profile = black
line_length = 120
skip = migrations,venv,env,.venv
known_django = django
known_first_party = Backend,users,api,core
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
